# Données utilisateur
exports/
_temp/
sortie/

# Logs
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
SnapchatMemories.spec
